html,body {
  font-family: 'Raleway', sans-serif;
  padding: 1em 2em;
  font-size: 18px;
  background: #222;
  color: #aaa
}

h1 {
  position: fixed;
  font-weight: 200;
  margin: 0.4em 0;
  font-size: 3.5em;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

p {
    position: fixed;
    font-weight: 50;
    margin: 0.4em 0;
    font-size: 0.5em;
    text-align: center;
    top: 100%;
    left: 20%;
    transform: translate(-50%, -100%);
}